
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 25px;
    background-color: #dbf5f4;
  }

  header {
    background-color: #20dc8b;
    box-shadow: 0 2px 5px rgba(254, 15, 15, 0.1);
    padding: 20px;
  }

  .login {
    position: absolute;
    top: 0;
    right: 0;;
    margin: 10px;
    
  }
  .login-text:hover{
    color:rgb(129, 233, 239);
  }
  
  .login-text {
    color: #333;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav a:hover {
    color: #f1ecec;
    background-color: #333;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(220, 23, 23, 0.1);
    padding: 20px 0;
  }
  
  .container {
    max-width: 1100px;
    margin-left: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 120px;
    height: 110px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #290101;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #1c4c50;
  }
  
  footer {
    background-color: #1e2023;
    color: #fff;
    padding: 50px 0;
  }
  
  footer h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  footer p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .stay-updated {
  background-color: #dbf5f4;
  padding: 50px 0;
}

.stay-updated h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.stay-updated p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.form-group label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.form-control {
  height: 50px;
  border-radius: 0;
  border-color: #ccc;
  font-size: 18px;
}

.btn-primary {
  height: 50px;
  border-radius: 0;
  background-color: #f4c63d;
  border-color: #f4c63d;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-primary:hover {
  background-color: #e0b93d;
  border-color: #e0b93d;
}
